:root {
    --textgray: rgba(128, 129, 145, 1);
    --textdark: rgba(27, 29, 33, 1);
    --bgwhite-100: rgba(255, 255, 255, 1);
    --secondary-medium-font-family: "Inter-Medium", Helvetica;
    --secondary-medium-font-weight: 500;
    --secondary-medium-font-size: 12px;
    --secondary-medium-letter-spacing: 0px;
    --secondary-medium-line-height: 20px;
    --secondary-medium-font-style: normal;
    --headline-h4-font-family: "Poppins-Medium", Helvetica;
    --headline-h4-font-weight: 500;
    --headline-h4-font-size: 32px;
    --headline-h4-letter-spacing: -0.5px;
    --headline-h4-line-height: normal;
    --headline-h4-font-style: normal;
    --collection-1-primary-blue: rgba(33, 133, 213, 1);
    --collection-1-background-fade: rgba(71, 178, 255, 0.15);
    --collection-1-seat: rgba(33, 133, 213, 0);
    --w-background: rgba(255, 255, 255, 1);



}


/* Dashboard admin */

.if-widgets {
    display: flex;
    width: auto;
    align-items: flex-start;
    gap: 19.44px;
    position: relative;
}

.if-widgets .if-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7.78px;
    padding: 23.33px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--bgwhite-100);
    border-radius: 23.33px;
    box-shadow: 0px 1.94px 13.61px #0063e70f;
}

.if-widgets .div {
    display: flex;
    flex-direction: column;
    width: 124.44px;
    align-items: flex-start;
    gap: 15.56px;
    position: relative;
    flex: 0 0 auto;
}

.if-widgets .if-frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 7.78px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -17.56px;
}

.if-widgets .impressions {
    position: relative;
    width: fit-content;
    margin-top: -0.97px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--textgray);
    font-size: 11.7px;
    letter-spacing: 0;
    line-height: 19.4px;
    white-space: nowrap;
}

.if-widgets .number {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--textdark);
    font-size: 31.1px;
    letter-spacing: -0.49px;
    line-height: normal;
}

.if-widgets .if-frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.56px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.if-widgets .if-frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 7.78px;
    position: relative;
    flex: 0 0 auto;
}



.if-txt-wrapper {
    position: relative;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 19.4px;
    white-space: nowrap;
}

.if-txt-wrapper2 {
    position: relative;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 19.4px;
    white-space: nowrap;
}

.if-box {
    width: 1002px;
    height: 438px;
}

.if-box .group {
    position: relative;
    top: 0;
    left: 0;
    width: 1002px;
    height: 438px;
}

.if-box .group-wrapper {
    height: 438px;
}

.if-box .if-frame {
    display: flex;
    flex-direction: column;
    width: 1002px;
    height: 438px;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    background-color: #1f1f25;
    border-radius: 8px;
    overflow: hidden;
}

.if-box .line-chart {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #1f1f25;
}

.if-box .overlap-group {
    position: relative;
    width: 970px;
    height: 406px;
}

.if-box .plot-area {
    display: flex;
    flex-direction: column;
    width: 970px;
    height: 406px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.if-box .y-axis-containner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.if-box .container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.if-box .container {
    height: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.if-box .line-container {
    display: flex;
    width: 847.13px;
    height: 16px;
    align-items: center;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left: 123px;
}

.if-box .line {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 1px;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    object-fit: cover;
}

.if-box .y-axis-container {
    display: flex;
    width: 123px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.if-box .left-divider {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 16px;
    z-index: 2;
}

.if-box .value {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 2px;
    z-index: 1;
    background-color: #1f1f25;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}

.if-box .text {
    text-align: right;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro Text-Regular", Helvetica;
    font-weight: 400;
    color: #9d9da5;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.if-box .fixed-right-divider {
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 0;
}

.if-box .x-axis-area {
    width: 849px;
    align-items: flex-start;
    padding: 0px 16px 0px 0px;
    left: 121px;
    display: flex;
    position: relative;
}

.if-box .x-axis-value {
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.if-box .x-axis {
    flex-direction: column;
    width: 1px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    position: relative;
}

.if-box .text-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 4px;
    align-self: stretch;
    width: 100%;
    margin-left: -0.5px;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}

.if-box .div {
    margin-left: -16px;
    margin-right: -16px;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "SF Pro Text-Regular", Helvetica;
    font-weight: 400;
    color: #9d9da5;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.if-box .text-2 {
    margin-left: -14px;
    margin-right: -14px;
    text-align: center;
    position: relative;
    width: fit-content;
}

/*Add Train - admin */
 