$mou-colors : (
    "box-gray": #FAFAFA,
    "light-blue" : #F2F9FE
);

@each $key, $val in $mou-colors{
  .border-bottom-#{$key}{
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: $val;
  }

  .bg-#{$key}{
    background-color: $val;
  }

  .#{$key}{
    color: $val;
  }
}

.trains-available h3{
    color: var(--lightgray-font);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.444px; 
}

.trains-available h2{
 color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 19.444px; 
}

.comparment {
    border-radius: 25px;
    border: 2px solid #ccc;
  }
  
.staff-container {
    width: 80%;
    padding: inherit;
    background-color:map-get($mou-colors, "box-gray" );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.ticket-container {
  width: 39%;
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.warrant-container{
  width: 100%;
}



.warrant-container-box{
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
  
.checker-container{
  width: 70%;
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.checker-container{
  width: 100%;
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ticket-details{
  padding: 23px 50px;
}

 .cancel-container .ticket-details{
  padding: 60px 50px ;
 }

.ticket-details .button{
  width: -webkit-fill-available;
}

.cancel-container{
  width: 630px;
  height: 450px;
  background-color:map-get($mou-colors, "box-gray" );
  // background-color: #F2F9FD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 50px;
}

// .seat-row {
//   gap: 25px;
// }

// .seats-top {
//   gap: 10px;
// }

// .seats-bottom {
//   gap: 10px;
// }

// .seat {
//   width: 25px;
//   height: 25px;
//   padding: 5px 4px;
//   gap: 10px;
//   border-radius: 10px;
//   border: 2px solid #ccc;
//   background: #fff;
//   box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
// }

// .seat:hover:not(.reserved) {
//   background: var(--Selected-Blue);
//   border: 2px solid var(--Border-blue);
//   cursor: pointer;
//   // add hover animation
//   transition: all 0.2s ease-out;
// }

// .seat.selected:not(.reserved) {
//   background: var(--Selected-Blue) !important;
//   border: 2px solid var(--Border-blue) !important;
//   cursor: pointer;
// }

// .reserved {
//   background: var(--Banner-red) !important;
//   border: 2px solid var(--Banner-red) !important;
//   color: var(--White) !important;
//   border: none;
//   cursor: not-allowed;
// }

@media screen and (max-width: 768px) {
  .staff-container {
    width: 100%;
  }

  .comparment.flex-row {
    flex-direction: column;
  }

  .comparment .seat-row,
  .comparment .seats-top,
  .comparment .seats-bottom {
    flex-direction: row;
  }

  .seat {
    width: 20px;
    height: 20px;
    padding: 5px 4px;
    font-size: 12px;
  }
}
.mou-bg-desktop {
  //position: absolute;
  top: -25vh;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
 // background: url("../images/home1.jpg"),
  //  lightgray -3.491px -930.014px / 100.77% 290.365% no-repeat;
}

.mou-bg-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mou-bg-desktop {
    display: none;
  }

  .mou-bg-mobile {
    display: initial;
    //position: absolute;
    top: -10vh;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    //background: url("../images/home-mobile.jpg"),
    //  lightgray -3.491px -930.014px / 100.77% 290.365% no-repeat;
  }
}

.line {
  border-bottom: 2px solid #000;  
 }

.total-row{
  background-color: rgba(0, 0, 0, 0.69);
  height: 35px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  }

  .date{
    width: 270px;
  }

p.text {
  font-size: medium;
}

h2.text {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup{
  width: 400px;
  background: #5c8a92;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 40%;
  translate: (-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  transition: transform 0.5s ease-in-out;
}

.popup .button{
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
  // box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.popup .open-btn{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fff;
  color: #333;
  font-size: 20px;
  border: 2px solid #333;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .close-btn:hover{
  background: #444;
}

.popup .content{
  max-height: 30%;
  overflow: auto;
}

.popup .content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup.active{
  visibility: visible;
  opacity: 1;
}

h3.warrant{
font-size: 30px;
}

.card-dashboard{
  margin: 5px 5px;
  padding: 10px 20px;
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Poppins-Medium", Helvetica;
  border-radius: 10px;
}

// .card-text{
//   font-weight:600px ;
//   line-height: 1.5px;
// }
.text-checker{
font-family: Open Sans;
font-size: 41px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
letter-spacing: -0.902px;
text-shadow:  2px 2px  rgba(0, 0, 0, 0.25);
}

.home-staff-container{
    width: 90%;
    padding: 0px 10px;
    background-color:map-get($mou-colors, "box-gray" );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.home-staff-text h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
  color: var(--Primary-Gray) !important;
}

.home-staff-text h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  
}

.inquiry-container {
  width: 80%;
  padding: inherit;
  background-color:map-get($mou-colors, "box-gray" );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;

}

.inquiry{
min-height: 100px;
}

.bg-home-desktop1 {
  position: absolute;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("../images/home1.jpg"),
    lightgray -3.491px -930.014px / 100.77% 290.365% no-repeat;
}

.search-box-text{
  max-width: 100%;
  font-size: 16px;
  padding: 5vh 15px;
}
   /* width: 80%;
    padding: inherit;
    background-color:map-get($mou-colors, "box-gray" );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 50px;*/

.inquiry{
  min-height: 100px;
}

.text1{
font-size: 13px;
font-weight: 500;
}

.bg-staff-login-desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  height: 100%;
  width: 60%;
  background: url("../images/login.png"), no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bg-staff-login-desktop {
    width: 100%;
    background:
      url("../images/login.png"), no-repeat;
    background-size: cover;
  }
}

.bg-staff-search-desktop{
  position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
    height: 100%;
    width: 40%;
    background: url("../images/login.png"), no-repeat;
    background-size: cover;
}

.form-check-input{
  width: 20px !important;
}

.diplay-grid{
  display: grid;
}

.range input {
  -webkit-appearance: none;
  width: 400px;
  height: 4px;
  border-radius: 5px;
  background-color: #508cec;
  outline: none;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4d80cd;
}

.range span {
  position: absolute;
  margin-left: 14px;
  width: 50px;
  height: 30px;
  background-color: #8ab3da;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

.range span:before {
  content: '';
  position: absolute;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 12px solid #8ab3da;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.section {
  background-color: #ffffff;
  padding: 50px 30px;
  border: 1.5px solid #b2b2b2;
  border-radius: 0.25em;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
  padding: 20px !important;
  border: 1.5px solid #b2b2b2 !important;
  border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
  display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
  width: 100px !important;
  height: 100px !important;
}

.QR-button {
  padding: 10px 20px;
  border: 1px solid #b2b2b2;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #008000ad;
  transition: 0.3s background-color;
}

.QR-button:hover {
  background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
  text-decoration: none !important;
  color: #1d9bf0;
}

.video {
  width: 100% !important;
  border: 1px solid #b2b2b2 !important;
  border-radius: 0.25em;
}

.notificationCard {
  width: 220px;
  height: 280px;
  background: rgb(245, 245, 245);
  padding: 20px 35px;
  gap: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
  border-radius: 5px;
}

.notificationHeading {
  color: black;
  font-weight: 600;
  font-size: 0.8em;
}

.notificationPara {
  color: rgb(133, 133, 133);
  font-size: 0.6em;
  font-weight: 600;
}

//popup

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container p {
  padding: 3em 1em;
}

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}

.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

.mou-popup-box{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.mou-qr-box {
  display: none;
}
@media screen and (max-width: 768px) {
  .mou-qr-box {
    display: inline;
  }
  
}
