.m-1 {
  margin: 1px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mt-1 {
  margin-top: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mr-1 {
  margin-right: 1px;
}

.mx-1 {
  margin-right: 1px;
  margin-left: 1px;
}
.mx-1 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-1 {
  padding: 1px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pt-1 {
  padding-top: 1px;
}

.pl-1 {
  padding-left: 1px;
}

.pr-1 {
  padding-right: 1px;
}

.px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.g-1 {
  gap: 1px;
}

.fs-1 {
  font-size: 1px;
}

.m-2 {
  margin: 2px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.mx-2 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-2 {
  padding: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pt-2 {
  padding-top: 2px;
}

.pl-2 {
  padding-left: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.g-2 {
  gap: 2px;
}

.fs-2 {
  font-size: 2px;
}

.m-3 {
  margin: 3px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.mx-3 {
  margin-right: 3px;
  margin-left: 3px;
}
.mx-3 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-3 {
  padding: 3px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pt-3 {
  padding-top: 3px;
}

.pl-3 {
  padding-left: 3px;
}

.pr-3 {
  padding-right: 3px;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.g-3 {
  gap: 3px;
}

.fs-3 {
  font-size: 3px;
}

.m-4 {
  margin: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.mx-4 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-4 {
  padding: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.g-4 {
  gap: 4px;
}

.fs-4 {
  font-size: 4px;
}

.m-5 {
  margin: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.mx-5 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-5 {
  padding: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.g-5 {
  gap: 5px;
}

.fs-5 {
  font-size: 5px;
}

.m-6 {
  margin: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mx-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.mx-6 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-6 {
  padding: 6px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pt-6 {
  padding-top: 6px;
}

.pl-6 {
  padding-left: 6px;
}

.pr-6 {
  padding-right: 6px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.g-6 {
  gap: 6px;
}

.fs-6 {
  font-size: 6px;
}

.m-7 {
  margin: 7px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mr-7 {
  margin-right: 7px;
}

.mx-7 {
  margin-right: 7px;
  margin-left: 7px;
}
.mx-7 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-7 {
  padding: 7px;
}

.pb-7 {
  padding-bottom: 7px;
}

.pt-7 {
  padding-top: 7px;
}

.pl-7 {
  padding-left: 7px;
}

.pr-7 {
  padding-right: 7px;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.g-7 {
  gap: 7px;
}

.fs-7 {
  font-size: 7px;
}

.m-8 {
  margin: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.mx-8 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-8 {
  padding: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.g-8 {
  gap: 8px;
}

.fs-8 {
  font-size: 8px;
}

.m-9 {
  margin: 9px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mr-9 {
  margin-right: 9px;
}

.mx-9 {
  margin-right: 9px;
  margin-left: 9px;
}
.mx-9 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-9 {
  padding: 9px;
}

.pb-9 {
  padding-bottom: 9px;
}

.pt-9 {
  padding-top: 9px;
}

.pl-9 {
  padding-left: 9px;
}

.pr-9 {
  padding-right: 9px;
}

.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}

.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.g-9 {
  gap: 9px;
}

.fs-9 {
  font-size: 9px;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mx-10 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-10 {
  padding: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.g-10 {
  gap: 10px;
}

.fs-10 {
  font-size: 10px;
}

.m-11 {
  margin: 11px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mt-11 {
  margin-top: 11px;
}

.ml-11 {
  margin-left: 11px;
}

.mr-11 {
  margin-right: 11px;
}

.mx-11 {
  margin-right: 11px;
  margin-left: 11px;
}
.mx-11 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-11 {
  padding: 11px;
}

.pb-11 {
  padding-bottom: 11px;
}

.pt-11 {
  padding-top: 11px;
}

.pl-11 {
  padding-left: 11px;
}

.pr-11 {
  padding-right: 11px;
}

.px-11 {
  padding-left: 11px;
  padding-right: 11px;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.g-11 {
  gap: 11px;
}

.fs-11 {
  font-size: 11px;
}

.m-12 {
  margin: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.mx-12 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-12 {
  padding: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.g-12 {
  gap: 12px;
}

.fs-12 {
  font-size: 12px;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mx-20 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-20 {
  padding: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.g-20 {
  gap: 20px;
}

.fs-20 {
  font-size: 20px;
}

.m-30 {
  margin: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}
.mx-30 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-30 {
  padding: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.g-30 {
  gap: 30px;
}

.fs-30 {
  font-size: 30px;
}

.m-40 {
  margin: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}
.mx-40 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-40 {
  padding: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.g-40 {
  gap: 40px;
}

.fs-40 {
  font-size: 40px;
}

.m-50 {
  margin: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mx-50 {
  margin-right: 50px;
  margin-left: 50px;
}
.mx-50 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-50 {
  padding: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.g-50 {
  gap: 50px;
}

.fs-50 {
  font-size: 50px;
}

.m-60 {
  margin: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mx-60 {
  margin-right: 60px;
  margin-left: 60px;
}
.mx-60 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-60 {
  padding: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.g-60 {
  gap: 60px;
}

.fs-60 {
  font-size: 60px;
}

.m-70 {
  margin: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mx-70 {
  margin-right: 70px;
  margin-left: 70px;
}
.mx-70 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-70 {
  padding: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.g-70 {
  gap: 70px;
}

.fs-70 {
  font-size: 70px;
}

.m-80 {
  margin: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}
.mx-80 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-80 {
  padding: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.g-80 {
  gap: 80px;
}

.fs-80 {
  font-size: 80px;
}

.m-90 {
  margin: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mx-90 {
  margin-right: 90px;
  margin-left: 90px;
}
.mx-90 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-90 {
  padding: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.g-90 {
  gap: 90px;
}

.fs-90 {
  font-size: 90px;
}

.m-100 {
  margin: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mx-100 {
  margin-right: 100px;
  margin-left: 100px;
}
.mx-100 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-100 {
  padding: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.g-100 {
  gap: 100px;
}

.fs-100 {
  font-size: 100px;
}

.border-bottom-transparent {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.border-top-transparent {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

.transparent {
  color: transparent;
}

.border-bottom-Primary-Blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #2d68fe;
}

.border-top-Primary-Blue {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #2d68fe;
}

.bg-Primary-Blue {
  background-color: #2d68fe;
}

.Primary-Blue {
  color: #2d68fe;
}

.border-bottom-Primary-Gray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #324054;
}

.border-top-Primary-Gray {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #324054;
}

.bg-Primary-Gray {
  background-color: #324054;
}

.Primary-Gray {
  color: #324054;
}

.border-bottom-Secondary-Gray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #71839b;
}

.border-top-Secondary-Gray {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #71839b;
}

.bg-Secondary-Gray {
  background-color: #71839b;
}

.Secondary-Gray {
  color: #71839b;
}

.border-bottom-Selected-Blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #cae1ff;
}

.border-top-Selected-Blue {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #cae1ff;
}

.bg-Selected-Blue {
  background-color: #cae1ff;
}

.Selected-Blue {
  color: #cae1ff;
}

.border-bottom-Banner-red {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #f00;
}

.border-top-Banner-red {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #f00;
}

.bg-Banner-red {
  background-color: #f00;
}

.Banner-red {
  color: #f00;
}

.border-bottom-Selected-red {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #ffd1cf;
}

.border-top-Selected-red {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #ffd1cf;
}

.bg-Selected-red {
  background-color: #ffd1cf;
}

.Selected-red {
  color: #ffd1cf;
}

.border-bottom-White {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.border-top-White {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #fff;
}

.bg-White {
  background-color: #fff;
}

.White {
  color: #fff;
}

.border-bottom-Lightgray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
}

.border-top-Lightgray {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #d3d3d3;
}

.bg-Lightgray {
  background-color: #d3d3d3;
}

.Lightgray {
  color: #d3d3d3;
}

.border-bottom-Border-blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #0085e4;
}

.border-top-Border-blue {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #0085e4;
}

.bg-Border-blue {
  background-color: #0085e4;
}

.Border-blue {
  color: #0085e4;
}

.border-bottom-Background-colour-nav {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgba(250, 250, 250, 0.9019607843);
}

.border-top-Background-colour-nav {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: rgba(250, 250, 250, 0.9019607843);
}

.bg-Background-colour-nav {
  background-color: rgba(250, 250, 250, 0.9019607843);
}

.Background-colour-nav {
  color: rgba(250, 250, 250, 0.9019607843);
}

.border-bottom-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #12b76a;
}

.border-top-green {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #12b76a;
}

.bg-green {
  background-color: #12b76a;
}

.green {
  color: #12b76a;
}

.border-bottom-light-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #bffad7;
}

.border-top-light-green {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #bffad7;
}

.bg-light-green {
  background-color: #bffad7;
}

.light-green {
  color: #bffad7;
}

.border-bottom-dark-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #027a48;
}

.border-top-dark-green {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #027a48;
}

.bg-dark-green {
  background-color: #027a48;
}

.dark-green {
  color: #027a48;
}

.border-bottom-blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #2185d5;
}

.border-top-blue {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #2185d5;
}

.bg-blue {
  background-color: #2185d5;
}

.blue {
  color: #2185d5;
}

.border-bottom-lightgray-font {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #646464;
}

.border-top-lightgray-font {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #646464;
}

.bg-lightgray-font {
  background-color: #646464;
}

.lightgray-font {
  color: #646464;
}

.border-bottom-box-gray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}

.border-top-box-gray {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #cccccc;
}

.bg-box-gray {
  background-color: #cccccc;
}

.box-gray {
  color: #cccccc;
}

.loader-circle {
  padding: 15px 21px;
  border-radius: 2000px;
  background-color: #2185d5;
}

.divider {
  border-style: solid;
  border-color: #2185d5;
  border-width: 1.8px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}

.complete {
  background-color: #12b76a;
  border-color: #12b76a;
}

@media screen and (max-width: 768px) {
  .loader-circle,
  .divider {
    display: none;
  }
  .loader-circle.active {
    justify-content: center;
    display: block;
  }
}
.profile .profile-img img {
  width: 200px;
  border-radius: 1000px;
}

.profile-name {
  font-size: 32px;
  font-weight: 700px;
}

@media screen and (max-width: 768px) {
  .profile .row .col-1 {
    grid-column: span 12;
  }
  .profile .row .col-2 {
    grid-column: span 12;
  }
  .profile .row .col-3 {
    grid-column: span 12;
  }
  .profile .row .col-4 {
    grid-column: span 12;
  }
  .profile .row .col-5 {
    grid-column: span 12;
  }
  .profile .row .col-6 {
    grid-column: span 12;
  }
  .profile .row .col-7 {
    grid-column: span 12;
  }
  .profile .row .col-8 {
    grid-column: span 12;
  }
  .profile .row .col-9 {
    grid-column: span 12;
  }
  .profile .row .col-10 {
    grid-column: span 12;
  }
  .profile .row .col-11 {
    grid-column: span 12;
  }
  .profile .row .col-12 {
    grid-column: span 12;
  }
  .profile .row .col-20 {
    grid-column: span 12;
  }
  .profile .row .col-30 {
    grid-column: span 12;
  }
  .profile .row .col-40 {
    grid-column: span 12;
  }
  .profile .row .col-50 {
    grid-column: span 12;
  }
  .profile .row .col-60 {
    grid-column: span 12;
  }
  .profile .row .col-70 {
    grid-column: span 12;
  }
  .profile .row .col-80 {
    grid-column: span 12;
  }
  .profile .row .col-90 {
    grid-column: span 12;
  }
  .profile .row .col-100 {
    grid-column: span 12;
  }
  .profile .profile-img img {
    width: 150px;
  }
  .profile-name {
    font-size: 22px;
    text-align: center;
  }
}
.passenger-container {
  width: 80%;
}

.comparment {
  border-radius: 25px;
  border: 2px solid #ccc;
}

.seat-row {
  gap: 25px;
}

.seats-top {
  gap: 10px;
}

.seats-bottom {
  gap: 10px;
}

.seat {
  width: 25px;
  height: 25px;
  padding: 5px 4px;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: #fff;
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

.seat:hover:not(.reserved) {
  background: var(--Selected-Blue);
  border: 2px solid var(--Border-blue);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.seat.selected:not(.reserved) {
  background: var(--Selected-Blue) !important;
  border: 2px solid var(--Border-blue) !important;
  cursor: pointer;
}

.reserved {
  background: var(--Banner-red) !important;
  border: 2px solid var(--Banner-red) !important;
  color: var(--White) !important;
  border: none;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .passenger-container {
    width: 100%;
  }
  .comparment.flex-row {
    flex-direction: column;
  }
  .comparment .seat-row,
  .comparment .seats-top,
  .comparment .seats-bottom {
    flex-direction: row;
  }
  .seat {
    width: 20px;
    height: 20px;
    padding: 5px 4px;
    font-size: 12px;
  }
}
.width-fill {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.bg-home-desktop {
  position: absolute;
  top: -25vh;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("../images/home1.jpg"), lightgray -3.491px -930.014px/100.77% 290.365% no-repeat;
}

.bg-home-mobile {
  display: none;
}

.search-box-text {
  max-width: 250px;
  background: #2285d5;
  color: rgb(255, 255, 255);
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  padding: 40px 15px;
}

.search-box .button {
  height: -moz-fit-content;
  height: fit-content;
}

.search-box-group {
  max-width: 700px;
  width: -webkit-fill-available;
  padding: 40px;
}

.display-none {
  display: none;
}

.home-text h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 42px;
  color: var(--White);
}

@media screen and (max-width: 768px) {
  .bg-home-desktop {
    display: none;
  }
  .bg-home-mobile {
    display: initial;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url("../images/home-mobile.jpg"), lightgray -3.491px -930.014px/100.77% 290.365% no-repeat;
  }
  .search-box-home.flex-row {
    flex-direction: column;
  }
  .search-box-home .flex-row {
    flex-direction: column;
  }
  .search-box-text {
    max-width: 100%;
    font-size: 16px;
    padding: 5vh 15px;
  }
  .search-box-home .text-inputs {
    min-width: 0px;
  }
  .search-box-group {
    padding: 20px;
  }
  .home-container {
    width: 100%;
    padding: 0px 20px;
  }
  .home-text h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
}
input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#toDate {
  display: none;
}

.bg-login-desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  height: 100%;
  width: 60%;
  background: linear-gradient(270deg, #fff 5.1%, rgba(0, 0, 0, 0) 101.92%), url("../images/home1.jpg"), no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bg-login-desktop {
    width: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 5.1%, rgba(255, 255, 255, 0.9) 101.92%), url("../images/home1.jpg"), no-repeat;
    background-size: cover;
  }
}
.dropdown {
  --max-scroll: 3;
  --text: #3f4656;
  --border: #2f3545;
  --borderActive: #23c4f8;
  --background: #151924;
  --arrow: #6c7486;
  --arrowActive: #e4ecfa;
  --listText: #99a3ba;
  --listBackground: #f5f9ff;
  --listActive: #e4ecfa;
  --listTextActive: #6c7486;
  --listBorder: none;
  --textFilled: #99a3ba;
  font-size: 14px;
  position: relative;
}
.dropdown.light {
  --text: #cdd9ed;
  --border: #cdd9ed;
  --borderActive: #23c4f8;
  --background: #fff;
  --arrow: #99a3ba;
  --arrowActive: #6c7486;
  --listText: #99a3ba;
  --listBackground: #fff;
  --listActive: #f5f9ff;
  --listTextActive: #6c7486;
  --listBorder: #e4ecfa;
  --textFilled: #6c7486;
}
.dropdown select {
  display: none;
}
.dropdown > span {
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  display: block;
  position: relative;
  color: var(--Secondary-Gray);
  border: 1px solid #ccc;
  background: var(--White);
  transition: all 0.3s ease;
}
.dropdown > span:before, .dropdown > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  right: 15px;
  background: var(--Secondary-Gray);
  transition: all 0.3s ease;
}
.dropdown > span:before {
  margin-right: 4px;
  transform: scale(0.96, 0.8) rotate(50deg);
}
.dropdown > span:after {
  transform: scale(0.96, 0.8) rotate(-50deg);
}
.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(var(--max-scroll) * 42px);
  top: 30px;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--White);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin: 0 0;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transform: scale(0.8) translate(0, 4px);
  border: 1px solid var(--White);
}
.dropdown ul li {
  opacity: 0;
  transform: translate(6px, 0);
  transition: all 0.3s ease;
}
.dropdown ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  color: var(--listText);
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}
.dropdown ul li a:hover {
  color: var(--Primary-Blue);
}
.dropdown ul li.active a {
  color: var(--Primary-Blue);
  background: var(--Selected-Blue);
}
.dropdown ul li.active a:before, .dropdown ul li.active a:after {
  --scale: 0.6;
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 50%;
  opacity: 0;
  background: var(--Secondary-Gray);
  transition: all 0.2s ease;
}
.dropdown ul li.active a:before {
  transform: rotate(45deg) scale(var(--scale));
}
.dropdown ul li.active a:after {
  transform: rotate(-45deg) scale(var(--scale));
}
.dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
  --scale: 0.9;
  opacity: 1;
}
.dropdown ul li:first-child a {
  border-radius: 6px 6px 0 0;
}
.dropdown ul li:last-child a {
  border-radius: 0 0 6px 6px;
}
.dropdown.filled > span {
  color: var(--Secondary-Gray);
}
.dropdown.open > span {
  border-color: var(--Selected-Blue);
  box-shadow: 0px 0px 5px 2px var(--Selected-Blue);
  transition: box-shadow 250ms ease-in;
}
.dropdown.open > span:before, .dropdown.open > span:after {
  background: var(--Secondary-Gray);
}
.dropdown.open > span:before {
  transform: scale(0.96, 0.8) rotate(-50deg);
}
.dropdown.open > span:after {
  transform: scale(0.96, 0.8) rotate(50deg);
}
.dropdown.open ul {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0, 12px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}
.dropdown.open ul li {
  opacity: 1;
  transform: translate(0, 0);
}
.dropdown.open ul li:nth-child(1) {
  transition-delay: 80ms;
}
.dropdown.open ul li:nth-child(2) {
  transition-delay: 160ms;
}
.dropdown.open ul li:nth-child(3) {
  transition-delay: 240ms;
}
.dropdown.open ul li:nth-child(4) {
  transition-delay: 320ms;
}
.dropdown.open ul li:nth-child(5) {
  transition-delay: 400ms;
}
.dropdown.open ul li:nth-child(6) {
  transition-delay: 480ms;
}
.dropdown.open ul li:nth-child(7) {
  transition-delay: 560ms;
}
.dropdown.open ul li:nth-child(8) {
  transition-delay: 640ms;
}
.dropdown.open ul li:nth-child(9) {
  transition-delay: 720ms;
}
.dropdown.open ul li:nth-child(10) {
  transition-delay: 800ms;
}

select {
  --text: #3f4656;
  --border: #2f3545;
  --background: #151924;
}
select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--Secondary-Gray);
  background: var(--Secondary-Gray);
  line-height: 20px;
  font-size: 14px;
  font-family: inherit;
  -webkit-appearance: none;
}

.login-text-inputs {
  max-width: 500px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .login-text-inputs {
    max-width: 300px;
  }
}
form.profile .text-inputs {
  max-width: -webkit-fill-available;
}

input[type=file]::file-selector-button {
  background: var(--blue);
  color: var(--White);
  border-radius: 8px;
  padding: 8px 14px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type=file]::file-selector-button:hover {
  background: var(--Selected-Blue);
  color: var(--Primary-Blue);
}

.shadow {
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.track-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--Primary-Gray);
  flex-basis: min-content;
}

.topic {
  width: 200px;
}

.flex-grow {
  flex-grow: 1;
}

.map iframe {
  width: 100%;
  min-height: 75vh;
  border: none;
}

h2.topic ~ p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .map iframe {
    min-height: 50vh;
  }
  .track-content {
    font-size: 12px;
    gap: 10px;
  }
  .track-text {
    font-size: 12px;
  }
  .topic {
    width: 140px;
  }
}
input[type=submit] {
  background: transparent;
}

.train-stoppin-staions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.route-line {
  width: 100%;
  height: 2px;
  background: var(--Primary-Blue);
}

.route-station {
  font-size: 14px;
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

table.price-table {
  width: 100%;
  border-collapse: collapse;
}

table.price-table td,
table.price-table th {
  width: 100px;
  font-size: 14px;
  padding: 20px;
  border: 1px solid var(--Secondary-Gray);
}

.ticket-summary {
  padding: 20px 50px;
  gap: 40px;
  border-radius: 20px;
  background: #fafafa;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.ticket-summary h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.ticket-summary-passenger-compartment-details {
  border: 1px solid #000;
  border-collapse: collapse;
}

.ticket-summary-passenger-compartment-details td,
.ticket-summary-passenger-compartment-details th {
  padding: 5px;
  border: 1px solid #000;
  font-size: 14px;
}

.ticket-summary-train-data p.ref-no {
  font-size: 20px;
  font-weight: 500;
}

.ticket-summary-train-data p.heading {
  font-weight: 600;
}

.ticket-summary .border-bottom {
  border-bottom: 1px solid var(--Primary-Gray);
}

.ticket-summary .passenger-compartment-details p {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .ticket-summary {
    padding: 20px 20px;
    gap: 20px;
  }
  .ticket-summary-passenger-compartment-details td,
  .ticket-summary-passenger-compartment-details th {
    padding: 5px;
    border: 1px solid #000;
    font-size: 12px;
  }
  .ticket-summary-train-data p.ref-no {
    font-size: 14px;
    font-weight: 500;
  }
  .ticket-summary-train-data p {
    font-weight: 600;
    font-size: 12px;
  }
}/*# sourceMappingURL=ravien.css.map */