$sizes: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
  "6": 6px,
  "7": 7px,
  "8": 8px,
  "9": 9px,
  "10": 10px,
  "20": 20px,
  "30": 30px,
  "40": 40px,
  "50": 50px,
  "60": 60px,
  "70": 70px,
  "80": 80px,
  "90": 90px,
  "100": 100px,
);

$colors: (
  "transparent": transparent,
  "Primary-Blue": #2d68fe,
  "Primary-Gray": #324054,
  "Secondary-Gray": #71839b,
  "Selected-Blue": #cae1ff,
  "Banner-red": #f00,
  "Selected-red": #ffd1cf,
  "White": #fff,
  "Lightgray": #d3d3d3,
  "Border-blue": #0085e4,
  "Background-colour-nav": #fafafae6,
  "green": #12b76a,
  "light-green": #bffad7,
  "dark-green": #027a48,
  "blue": #2185d5,
  "lightgray-font": #646464,
);

@each $key, $val in $sizes {
  .m-#{$key} {
    margin: $val;
  }

  .mb-#{$key} {
    margin-bottom: $val;
  }

  .mt-#{$key} {
    margin-top: $val;
  }

  .ml-#{$key} {
    margin-left: $val;
  }

  .mr-#{$key} {
    margin-right: $val;
  }
  .mx-#{$key} {
    margin-right: $val;
    margin-left: $val;

    .mx-auto {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .p-#{$key} {
    padding: $val;
  }

  .pb-#{$key} {
    padding-bottom: $val;
  }

  .pt-#{$key} {
    padding-top: $val;
  }

  .pl-#{$key} {
    padding-left: $val;
  }

  .pr-#{$key} {
    padding-right: $val;
  }

  .px-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }

  .py-#{$key} {
    padding-top: $val;
    padding-bottom: $val;
  }

  .g-#{$key} {
    gap: $val;
  }
}

@each $key, $val in $colors {
  .border-bottom-#{$key} {
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }

  .#{$key} {
    color: $val;
  }
}

.loader-circle {
  padding: 15px 21px;
  border-radius: 2000px;
  background-color: map-get($colors, "blue");
}

.divider {
  border-style: solid;
  border-color: #2185d5;
  border-width: 1.8px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}

.complete {
  background-color: map-get($colors, "green");
  border-color: map-get($colors, "green");
}

@media screen and (max-width: 768px) {
  .loader-circle,
  .divider {
    display: none;
  }

  .loader-circle.active {
    justify-content: center;
    display: block;
  }
}

.profile .profile-img img {
  width: 200px;
  border-radius: 1000px;
}

.profile-name {
  font-size: 32px;
  font-weight: 700px;
}

@media screen and (max-width: 768px) {
  @each $key, $val in $sizes {
    .profile .row .col-#{$key} {
      grid-column: span 12;
    }
  }

  .profile .profile-img img {
    width: 150px;
  }
  .profile-name {
    font-size: 22px;
    text-align: center;
  }
}

.passenger-container {
  width: 80%;
}

.comparment {
  border-radius: 25px;
  border: 2px solid #ccc;
}

.seat-row {
  gap: 25px;
}

.seats-top {
  gap: 10px;
}

.seats-bottom {
  gap: 10px;
}

.seat {
  width: 25px;
  height: 25px;
  padding: 5px 4px;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: #fff;
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

.seat:hover:not(.reserved) {
  background: var(--Selected-Blue);
  border: 2px solid var(--Border-blue);
  cursor: pointer;
  // add hover animation
  transition: all 0.2s ease-out;
}

.seat.selected:not(.reserved) {
  background: var(--Selected-Blue) !important;
  border: 2px solid var(--Border-blue) !important;
  cursor: pointer;
}

.reserved {
  background: var(--Banner-red) !important;
  border: 2px solid var(--Banner-red) !important;
  color: var(--White) !important;
  border: none;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .passenger-container {
    width: 100%;
  }

  .comparment.flex-row {
    flex-direction: column;
  }

  .comparment .seat-row,
  .comparment .seats-top,
  .comparment .seats-bottom {
    flex-direction: row;
  }

  .seat {
    width: 20px;
    height: 20px;
    padding: 5px 4px;
    font-size: 12px;
  }
}

.width-fill {
  width: 100%;
}

.bg-home-desktop {
  position: absolute;
  top: -25vh;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("../images/home1.jpg"),
    lightgray -3.491px -930.014px / 100.77% 290.365% no-repeat;
}

.bg-home-mobile {
  display: none;
}

.search-box-text {
  max-width: 250px;
  background: #2285d5;
  color: rgba(255, 255, 255);
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  padding: 40px 15px;
}

.search-box .button {
  height: fit-content;
}

.display-none {
  display: none;
}

.home-text h1 {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 42px;
  color: var(--White);
}

@media screen and (max-width: 768px) {
  .bg-home-desktop {
    display: none;
  }

  .bg-home-mobile {
    display: initial;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url("../images/home-mobile.jpg"),
      lightgray -3.491px -930.014px / 100.77% 290.365% no-repeat;
  }

  .search-box-home.flex-row {
    // padding: 30px;
    flex-direction: column;
  }

  .search-box-home .flex-row {
    flex-direction: column;
  }

  .search-box-text {
    max-width: 100%;
    font-size: 16px;
    padding: 5vh 15px;
  }

  .search-box-home .text-inputs {
    min-width: 0px;
  }

  .search-box-group {
    padding: 20px;
  }

  .home-container {
    width: 100%;
    padding: 0px 20px;
  }

  .home-text h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#toDate {
  display: none;
}

.bg-login-desktop{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  height: 100%;
  width: 60%;
  background: linear-gradient(270deg, #FFF 5.1%, rgba(0, 0, 0, 0.00) 101.92%), url('../images/home1.jpg'),  no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bg-login-desktop {
    width: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 5.1%,  rgba(255, 255, 255, 0.9) 101.92%), url("../images/home1.jpg"), no-repeat;
    background-size: cover;
  }  
}