.m-1 {
  margin: 1px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mt-1 {
  margin-top: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mr-1 {
  margin-right: 1px;
}

.mx-1 {
  margin-right: 1px;
  margin-left: 1px;
}
.mx-1 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-1 {
  padding: 1px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pt-1 {
  padding-top: 1px;
}

.pl-1 {
  padding-left: 1px;
}

.pr-1 {
  padding-right: 1px;
}

.px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.g-1 {
  gap: 1px;
}

.m-2 {
  margin: 2px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.mx-2 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-2 {
  padding: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pt-2 {
  padding-top: 2px;
}

.pl-2 {
  padding-left: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.g-2 {
  gap: 2px;
}

.m-3 {
  margin: 3px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.mx-3 {
  margin-right: 3px;
  margin-left: 3px;
}
.mx-3 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-3 {
  padding: 3px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pt-3 {
  padding-top: 3px;
}

.pl-3 {
  padding-left: 3px;
}

.pr-3 {
  padding-right: 3px;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.g-3 {
  gap: 3px;
}

.m-4 {
  margin: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.mx-4 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-4 {
  padding: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.g-4 {
  gap: 4px;
}

.m-5 {
  margin: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.mx-5 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-5 {
  padding: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.g-5 {
  gap: 5px;
}

.m-6 {
  margin: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mx-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.mx-6 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-6 {
  padding: 6px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pt-6 {
  padding-top: 6px;
}

.pl-6 {
  padding-left: 6px;
}

.pr-6 {
  padding-right: 6px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.g-6 {
  gap: 6px;
}

.m-7 {
  margin: 7px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mr-7 {
  margin-right: 7px;
}

.mx-7 {
  margin-right: 7px;
  margin-left: 7px;
}
.mx-7 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-7 {
  padding: 7px;
}

.pb-7 {
  padding-bottom: 7px;
}

.pt-7 {
  padding-top: 7px;
}

.pl-7 {
  padding-left: 7px;
}

.pr-7 {
  padding-right: 7px;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.g-7 {
  gap: 7px;
}

.m-8 {
  margin: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.mx-8 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-8 {
  padding: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.g-8 {
  gap: 8px;
}

.m-9 {
  margin: 9px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mr-9 {
  margin-right: 9px;
}

.mx-9 {
  margin-right: 9px;
  margin-left: 9px;
}
.mx-9 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-9 {
  padding: 9px;
}

.pb-9 {
  padding-bottom: 9px;
}

.pt-9 {
  padding-top: 9px;
}

.pl-9 {
  padding-left: 9px;
}

.pr-9 {
  padding-right: 9px;
}

.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}

.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.g-9 {
  gap: 9px;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mx-10 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-10 {
  padding: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.g-10 {
  gap: 10px;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mx-20 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-20 {
  padding: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.g-20 {
  gap: 20px;
}

.m-30 {
  margin: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}
.mx-30 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-30 {
  padding: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.g-30 {
  gap: 30px;
}

.m-40 {
  margin: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}
.mx-40 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-40 {
  padding: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.g-40 {
  gap: 40px;
}

.m-50 {
  margin: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mx-50 {
  margin-right: 50px;
  margin-left: 50px;
}
.mx-50 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-50 {
  padding: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.g-50 {
  gap: 50px;
}

.m-60 {
  margin: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mx-60 {
  margin-right: 60px;
  margin-left: 60px;
}
.mx-60 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-60 {
  padding: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.g-60 {
  gap: 60px;
}

.m-70 {
  margin: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mx-70 {
  margin-right: 70px;
  margin-left: 70px;
}
.mx-70 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-70 {
  padding: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.g-70 {
  gap: 70px;
}

.m-80 {
  margin: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}
.mx-80 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-80 {
  padding: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.g-80 {
  gap: 80px;
}

.m-90 {
  margin: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mx-90 {
  margin-right: 90px;
  margin-left: 90px;
}
.mx-90 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-90 {
  padding: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.g-90 {
  gap: 90px;
}

.m-100 {
  margin: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mx-100 {
  margin-right: 100px;
  margin-left: 100px;
}
.mx-100 .mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-100 {
  padding: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.g-100 {
  gap: 100px;
}

.border-bottom-transparent {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

.transparent {
  color: transparent;
}

.border-bottom-Primary-Blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #2d68fe;
}

.bg-Primary-Blue {
  background-color: #2d68fe;
}

.Primary-Blue {
  color: #2d68fe;
}

.border-bottom-Primary-Gray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #324054;
}

.bg-Primary-Gray {
  background-color: #324054;
}

.Primary-Gray {
  color: #324054;
}

.border-bottom-Secondary-Gray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #71839b;
}

.bg-Secondary-Gray {
  background-color: #71839b;
}

.Secondary-Gray {
  color: #71839b;
}

.border-bottom-Selected-Blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #cae1ff;
}

.bg-Selected-Blue {
  background-color: #cae1ff;
}

.Selected-Blue {
  color: #cae1ff;
}

.border-bottom-Banner-red {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #f00;
}

.bg-Banner-red {
  background-color: #f00;
}

.Banner-red {
  color: #f00;
}

.border-bottom-Selected-red {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #ffd1cf;
}

.bg-Selected-red {
  background-color: #ffd1cf;
}

.Selected-red {
  color: #ffd1cf;
}

.border-bottom-White {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.bg-White {
  background-color: #fff;
}

.White {
  color: #fff;
}

.border-bottom-Lightgray {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
}

.bg-Lightgray {
  background-color: #d3d3d3;
}

.Lightgray {
  color: #d3d3d3;
}

.border-bottom-Border-blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #0085e4;
}

.bg-Border-blue {
  background-color: #0085e4;
}

.Border-blue {
  color: #0085e4;
}

.border-bottom-Background-colour-nav {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgba(250, 250, 250, 0.9019607843);
}

.bg-Background-colour-nav {
  background-color: rgba(250, 250, 250, 0.9019607843);
}

.Background-colour-nav {
  color: rgba(250, 250, 250, 0.9019607843);
}

.border-bottom-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #12b76a;
}

.bg-green {
  background-color: #12b76a;
}

.green {
  color: #12b76a;
}

.border-bottom-light-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #bffad7;
}

.bg-light-green {
  background-color: #bffad7;
}

.light-green {
  color: #bffad7;
}

.border-bottom-dark-green {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #027a48;
}

.bg-dark-green {
  background-color: #027a48;
}

.dark-green {
  color: #027a48;
}

.border-bottom-blue {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #2185d5;
}

.bg-blue {
  background-color: #2185d5;
}

.blue {
  color: #2185d5;
}

.border-bottom-lightgray-font {
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #646464;
}

.bg-lightgray-font {
  background-color: #646464;
}

.lightgray-font {
  color: #646464;
}

.loader-circle {
  padding: 15px 21px;
  border-radius: 2000px;
  background-color: #2185d5;
}

.divider {
  border-style: solid;
  border-color: #2185d5;
  border-width: 1.8px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}

.complete {
  background-color: #12b76a;
  border-color: #12b76a;
}

@media screen and (max-width: 768px) {
  .loader-circle,
  .divider {
    display: none;
  }
  .loader-circle.active {
    justify-content: center;
    display: block;
  }
}
.profile .profile-img img {
  width: 200px;
  border-radius: 1000px;
}

.profile-name {
  font-size: 32px;
  font-weight: 700px;
}

@media screen and (max-width: 768px) {
  .profile .row .col-1 {
    grid-column: span 12;
  }
  .profile .row .col-2 {
    grid-column: span 12;
  }
  .profile .row .col-3 {
    grid-column: span 12;
  }
  .profile .row .col-4 {
    grid-column: span 12;
  }
  .profile .row .col-5 {
    grid-column: span 12;
  }
  .profile .row .col-6 {
    grid-column: span 12;
  }
  .profile .row .col-7 {
    grid-column: span 12;
  }
  .profile .row .col-8 {
    grid-column: span 12;
  }
  .profile .row .col-9 {
    grid-column: span 12;
  }
  .profile .row .col-10 {
    grid-column: span 12;
  }
  .profile .row .col-20 {
    grid-column: span 12;
  }
  .profile .row .col-30 {
    grid-column: span 12;
  }
  .profile .row .col-40 {
    grid-column: span 12;
  }
  .profile .row .col-50 {
    grid-column: span 12;
  }
  .profile .row .col-60 {
    grid-column: span 12;
  }
  .profile .row .col-70 {
    grid-column: span 12;
  }
  .profile .row .col-80 {
    grid-column: span 12;
  }
  .profile .row .col-90 {
    grid-column: span 12;
  }
  .profile .row .col-100 {
    grid-column: span 12;
  }
  .profile .profile-img img {
    width: 150px;
  }
  .profile-name {
    font-size: 22px;
    text-align: center;
  }
}
.passenger-container {
  width: 80%;
}

.comparment {
  border-radius: 25px;
  border: 2px solid #ccc;
}

.seat-row {
  gap: 25px;
}

.seats-top {
  gap: 10px;
}

.seats-bottom {
  gap: 10px;
}

.seat {
  width: 25px;
  height: 25px;
  padding: 5px 4px;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: #fff;
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

.seat:hover:not(.reserved) {
  background: var(--Selected-Blue);
  border: 2px solid var(--Border-blue);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.seat.selected:not(.reserved) {
  background: var(--Selected-Blue) !important;
  border: 2px solid var(--Border-blue) !important;
  cursor: pointer;
}

.reserved {
  background: var(--Banner-red) !important;
  border: 2px solid var(--Banner-red) !important;
  color: var(--White) !important;
  border: none;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .passenger-container {
    width: 100%;
  }
  .comparment.flex-row {
    flex-direction: column;
  }
  .comparment .seat-row,
  .comparment .seats-top,
  .comparment .seats-bottom {
    flex-direction: row;
  }
  .seat {
    width: 20px;
    height: 20px;
    padding: 5px 4px;
    font-size: 12px;
  }
}
.width-fill {
  width: 100%;
}/*# sourceMappingURL=ravien.css.map */